<h3><%= @player[:team_name] %></h3>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @player[:name] %></td>
      <td><%= @player[:position] %></td>
    </tr>
  </tbody>

</table>
