<h3><%= @team_name %></h3>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Position</th>
    </tr>
  </thead>

  <tbody>
    <% @team_members.each do |member| %>
      <tr>
        <td>
          <%= member[:name] %>
        </td>
        <td>
          <%= member[:position] %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
